body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.result {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 25%;
  background-color: rgb(102, 99, 99);
}

.numerics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 226, 226);
}

button {
}
