body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.result,
.buttons,
.home,
footer {
  display: grid;
}

.container {
  margin: 5% 30%;
  padding: 0;
  grid-template-columns: 1fr;
}

.result {
  padding: 10%;
  justify-content: end;
  align-items: center;
  background-color: rgb(156, 151, 151);
}

.buttons button,
.result {
  font-size: xx-large;
  font-weight: bolder;
}

.buttons button {
  padding: 18%;
}

.buttons button:nth-child(17) {
  padding: 8%;
  grid-column: span 2;
}

.buttons button:nth-child(4n),
.buttons button:nth-child(19) {
  background-color: rgb(255, 136, 0);
}

.buttons {
  grid-template-columns: repeat(4, 1fr);
}

nav {
  display: flex;
  padding-right: 1em;
  padding-left: 1em;
  align-items: center;
  justify-content: space-between;
}

nav > h1 {
  font-size: 8vh;
}

ul {
  display: flex;
  justify-content: center;
  font-size: 3vh;
}

ul li {
  margin-right: 1em;
  padding-right: 1em;
  list-style: none;
}

li > a {
  text-decoration: none;
  color: black;
}

li:nth-child(1),
li:nth-child(2) {
  border-right: 5px solid black;
}

.home {
  padding: 2em;
}

.home > h2 {
  font-size: 5vh;
}

.home > p {
  font-size: 3vh;
}

footer {
  text-align: center;
  padding: 0;
}

footer > h3 {
  font-size: 3vh;
  color: blueviolet;
}
