body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.result,
.buttons,
.home,
.quote,
footer {
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container > h2 {
  padding-left: 1rem;
  font-size: 5vh;
}

.calculator {
  padding-right: 2rem;
  width: 30%;
}

nav {
  display: flex;
  padding-left: 1em;
  justify-content: space-between;
}

nav > h1 {
  font-size: 7vh;
}

ul {
  display: flex;
  align-items: center;
  font-size: 3vh;
}

ul li {
  margin-right: 1em;
  list-style: none;
}

li:nth-child(1),
li:nth-child(2) {
  padding-right: 15px;
  border-right: 3px solid black;
}

ul li a {
  text-decoration: none;
  color: black;
}

.result {
  padding: 10%;
  justify-content: end;
  align-items: center;
  background-color: rgb(156, 151, 151);
}

.buttons button,
.result {
  font-size: xx-large;
  font-weight: bolder;
}

.buttons button {
  padding: 18%;
}

.buttons button:nth-child(17) {
  padding: 8%;
  grid-column: span 2;
}

.buttons button:nth-child(4n),
.buttons button:nth-child(19) {
  background-color: rgb(255, 136, 0);
}

.buttons {
  grid-template-columns: repeat(4, 1fr);
}

.home {
  padding: 3em;
}

.home > h2 {
  font-size: 5vh;
}

.home > p {
  font-size: 3vh;
}

.quote {
  margin: 10% auto;
}

.quote > h1 {
  padding: 1em;
  text-align: left;
  font-size: 6vh;
}

footer {
  font-size: 2vh;
}

footer > h3 {
  position: fixed;
  bottom: 0;
  left: 45%;
}
